<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.plat.mapper.ImChatMapper">
    <sql id="tableName">
        im_chat
    </sql>

    <sql id="baseColumn">
        id,message_id,shortI_id,question,answer,tokens,create_date
    </sql>
    <select id="selectMessage" resultType="com.work.plat.entity.bo.ImChatDO">

        select * from im_chat
        where type = #{type} and message_id = #{messageId}
    </select>
    <select id="selectHistory" resultType="com.work.plat.entity.bo.ImChatDO">
        select * from im_chat
        where open_id = #{openId}
        <if test="type != null &amp;&amp; type != ''">
            and type = #{type}
        </if>
        order by create_time asc limit 50;

    </select>

</mapper>
